/*
*Project name: Athena-Design
*Details:
*Version: 1.0.0
*Author: Team-19
*/

/*
            =========================================
                          Common CSS
            =========================================
*/

a {
  text-decoration: none;
}
.brand-btn {
  width: 175px;
  height: 50px;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px 0px 30px 0px;
  background-image: linear-gradient(to right, #1cd8ba, #09b1e7);
  transition: 0.5s;
}
.brand-btn:hover {
  border-radius: 0px 30px 0px 30px;
  background-image: linear-gradient(to left, #1cd8ba, #09b1e7);
  color: white;
}
.brand-btn:focus {
  outline: none;
}

/*
            =========================================
                          Navbar CSS
            =========================================
*/
.navbar-light .navbar-toggler-icon {
  background-image: url(/images/menuIcon.PNG) !important;
}
.navbar-toggler {
  border-color: white !important;
}

.bigText {
  font-size: 100px;
}
footer {
  padding-bottom: 50px;
}

/*
            =========================================
                          What we do area CSS
            =========================================
*/

.single-what-do-card {
  padding: 30px 50px;
  transition: 0.5s;
}
.single-what-do-card:hover {
  background: white;
  box-shadow: 5px 5px 10px 10px #c9f1e1;
  border-radius: 80px 0px 80px 0px;
}

/*
            =========================================
                          Achievements area CSS
            =========================================
*/

.single-achievments-right-part{
  margin-bottom: 50px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: .5s;
}
.single-achievments-right-part:hover{
  border-radius: 0px 80px 0px 80px;
  background-image: linear-gradient(to left, #1cd8ba, #09b1e7);
  color: white;
}
.achievments-contect{
  margin-left: 15px;
}
.achievments-contect h3{
  font-weight: bold;
}