.navbar-light .navbar-toggler-icon {
  background-image: url(/images/menuIcon.PNG) !important;
}
.navbar-toggler {
  border-color: white !important;
}

.bigText {
  font-size: 100px;
}
footer {
  padding-bottom: 50px;
}
